NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

NEXT_PUBLIC_SUPABASE_URL=https://yanveevgpfjopcjnosqq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_LuzTUO28WHgi8GFWXUKgKg_7ICoJrOn

f73f0632-b0013d0a
b641167c-2bb78bf2
585c0edf-7df9278f
97a9f7a9-a667ebf3
7526ac06-6f2b582c
fa3f2609-b22b5af2